name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  # tests:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 5
  #   permissions:
  #     contents: read
  #
  #   steps:
  #     - uses: actions/checkout@v6
  #
  #     - name: Install Neovim
  #       uses: rhysd/action-setup-vim@v1
  #       with:
  #         neovim: true
  #         version: stable
  #
  #     - name: Run Tests
  #       run: |
  #         nvim -l tests/minit.lua --minitest

  stylua:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check lua/
